ul{
    list-style-type: lower-alpha;
    list-style-position: inside;
    list-style-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxIxbcTQaLhAmaa32F-nE5046Idek3gCC6Dg&usqp=CAU);

    list-style : square inside 
}