.div1{
  max-width: 400px;
  height: 200px;
  color: bisque;
  background-color: black;

  overflow: auto;


}

.div2{
    max-width: 400px;
  height: 200px;
  color: bisque;
  background-color: black;

  overflow: hidden;
}

.div3{
    max-width: 400px;
  height: 200px;
  color: bisque;
  background-color: black;

  overflow: visible;
}

.div4{
    max-width: 400px;
  height: 200px;
  color: bisque;
  background-color: black;

  overflow: scroll;
}